@charset "UTF-8";

html, body {
  width: 100%;
  height: 100%;
}

body{
  margin: 0 auto;
}

.row {
  display: flex;
  width:100%;
  height:100%;
}

.column {
  flex: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#git {
  background-image: url('../img/image-git.png');
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
}

#git .overlay {
  opacity: 0.75;
  background-color: #0d3f54;
}

#swagger {
  background-image: url('../img/image-swagger.png');
}

#swagger .overlay {
  opacity: 0.75;
  background-color: #0d3f54;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Philosopher", sans-serif;
  color: white;
}

.slogan {
  z-index: 1000;
  position: absolute;
  top: 30%;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

.slogan .main {
  font-size: 72px;
  font-weight: bold;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  font-family: Philosopher;
}

.slogan .sub {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 100;
  font-family: Muli;
  letter-spacing: 2px;
}

.logo {
  margin-left: -550px;
  margin-top: -150px;
}

.content {
  height: 54%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.content-left {
  width: 60%;
}

.content-right {
  width: 40%;
}

.info-logo {
  margin-top: 10px;
  color: white;
  font-family: Muli;
}

.info-slogan {
  color: white;
  font-size: 38px;
  font-weight: bold;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: Philosopher;
}

.info-description {
  color: white;
  font-family: Muli;
  text-align: center;
}

.button {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #00A3E0;
  background: #00A3E0;
  color: white;
  text-decoration: none;
}

.button:hover {
  background: #008cc7;
  color: #fff;
  text-decoration: none;
}